@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-bar-active {
  opacity: 50%;
}

.b-active {
  background-color: #524f62;
  color: #fafafa;
}

.b-active-1{
  background-color: #fafafa;
  color: #524f62;
}

@media screen and (min-width: 768px) {
  .about-ring {
    width: 25rem;
    height: 20.1rem;
  }
  .about-content {
    width: 26rem;
  }

  .msg-text {
    width: 30rem;
  }
}
